* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
}

.container {
  position: relative;
}

.controls-wrapper {
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.grid-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 600px;
  width: 600px;
}

.grid div {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: 9.09090909091%;
  width: 11.1111111111%;
}
    
    /* flareon */ 
.grid div.flareonIdle {
  background-image: url('../assets/flareonIdle.gif');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.flareonRunRight {
  background-image: url('../assets/flareonRight.gif');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.flareonRunLeft {
  background-image: url('../assets/flareonLeft.gif');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.flareonRunUp {
  background-image: url('../assets/flareonUp.gif');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.flareonRunDown {
  background-image: url('../assets/flareonUp.gif');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

/* enemies */
.grid div.lugiaEnemy {
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/abdaa324-0223-4e48-a996-f2a709557acd/d9plj67-e38999f7-d80e-4004-89fa-be205c043638.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2FiZGFhMzI0LTAyMjMtNGU0OC1hOTk2LWYyYTcwOTU1N2FjZFwvZDlwbGo2Ny1lMzg5OTlmNy1kODBlLTQwMDQtODlmYS1iZTIwNWMwNDM2MzguZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.6TnuR5znY4PHR8A2z31dfgl4PNLNOw0SkqB46b35q-U');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.lugia2Enemy {
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/abdaa324-0223-4e48-a996-f2a709557acd/d7qxfmb-591f0664-3274-4a1b-9f82-cc0c1513d64a.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2FiZGFhMzI0LTAyMjMtNGU0OC1hOTk2LWYyYTcwOTU1N2FjZFwvZDdxeGZtYi01OTFmMDY2NC0zMjc0LTRhMWItOWY4Mi1jYzBjMTUxM2Q2NGEuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.iE3GGdfEfY5C3JV8JbM0iade43f_0OoURsytoCrOw0U');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

/* collision gif */
.grid div.collision {
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4ddabef1-8390-424a-a828-f61e4df3d499/d4vvtsd-9198838a-133c-478e-ba7b-9d2b9b5f4401.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzRkZGFiZWYxLTgzOTAtNDI0YS1hODI4LWY2MWU0ZGYzZDQ5OVwvZDR2dnRzZC05MTk4ODM4YS0xMzNjLTQ3OGUtYmE3Yi05ZDJiOWI1ZjQ0MDEuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.AyH_iQH-ECxX0-9n9hJyitTpc3UG-cfryOZ9qFp7euE');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

/* floats */
.grid div.float {
  background-image: url('../assets/Pad_03_1.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

/* float and flareon together */
.grid div.floatAndFlareon {
  background-image: url('../assets/flareonIdle.gif'), url('../assets/Pad_03_1.png');
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat, no-repeat;
}

.grid div.water {
  background-color: teal;
}